<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxI8fx6RjmL7BDXABdzQmu8lgM3Y1fs28</string>
	<key>GCM_SENDER_ID</key>
	<string>954481957083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ThuanVuNotes</string>
	<key>PROJECT_ID</key>
	<string>thuanvunotes</string>
	<key>STORAGE_BUCKET</key>
	<string>thuanvunotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954481957083:ios:d3b16505d785df585f14fe</string>
</dict>
</plist>